$color-primary:#FFB30E;
$color-secondary:#F17228;
$color-accent:#FDEADF;
$color-green:#79B93C;
$color-textdark:#212121;
$color-textlight:#FFFEFE;
$color-box:#FDEADF;
$color-text:#F9FAFD;
$color-bag:#757575;
$border-radius:1rem;
$border:0 625rem;
$font-size:1.5rem;

